@using GestaoVacinas.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Alterar Senha";
    Layout = "_Layout";
}

<!-- Container principal para imagem e frase -->
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="~/images/senha-img.svg" alt="Verificar Email" class="img-fluid senha-img">
        </div>
        <div class="col-md-6 text-md-start text-center mt-5">
            <h1 class="mb-3 fw-bold" style="color: #587EFD;">Alterar senha</h1>
            <h3 class="mb-4 fs-6">Digite e confirme sua nova senha.</h3>
        </div>
    </div>
</div>
<br />

<!-- Container do box cinza -->
<div class="box mt-5">
    <!-- Container para centralizar o formulário -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">            
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control border border-primary" readonly />
                    </div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input asp-for="NewPassword" class="form-control border border-primary" placeholder="senha"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmNewPassword" class="form-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control border border-primary" placeholder="senha"/>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>

                    <div class="text-center mb-4">
                        <input type="submit" value="Confirmar Alteração" class="btn btn-primary rounded-4" style="background-color:#587EFD; border-radius: 100px; width: 50%;" />
                    </div>
                    <div class="text-center">
                        <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-underline mt-3" style="color: black">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}